* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: #333;
    margin-top: 80px;
}

/* Style for the nav bar */
.nav-bar {
    background-color: #a10303; 
    padding: 10px 20px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    /*
    display: flex; 
    justify-content: space-between;  */
    align-items: center; 
}

/* Style for the search bar */
.search-container input {
    width: 300px;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 20px; 
    font-size: 1.3rem;
}



/* Optional: Style for the icons */
.icons {
    color: #ffffff; 
    cursor: pointer; 
}




.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}


p {
    font-size: 1.2rem;
    color: #e0d8d8;
}

.question-box {
    margin-bottom: 20px;
    padding: 20px; 
    background: #d1d0d9;
    background: linear-gradient(90deg, rgba(209, 208, 217, 1) 55%, rgba(150, 150, 171, 1) 100%, rgba(0, 212, 255, 1) 100%);
    border-radius: 8px;
    max-width: 600px;  
    margin-left: auto;  
    margin-right: auto; 
}

.section-head {
    font-size: 2.3rem; 
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: none;
}

ul li {
    margin: 6px 0; 
}

ul li a {
     color: #171d88;
     font-size: 1.49rem;
     line-height: 1.8;
}

ul li a:hover {
    color: #ad1b08;
    /* Optional: Add a hover effect */
   
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    color: #888;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 2rem;
    }

    .question-box {
        padding: 8px; 
    }

    .section-head {
        font-size: 1.55rem; 
    }
}

@media (max-width: 380px) {
  #user-icon{
    display: none;
  }
  
  .search-container input {
    width: 200px;
    padding: 7px; 
    border-radius: 5px;
    border: 1px solid #ccc;
}

}


  