* {
    box-sizing: border-box;
    padding: 14px;
}

.quiz-container {
    border: 2px solid #000000;
    margin: 20px auto;
}

.question-box {
   border: 2px solid #000000;
   margin: 15px auto;
}

.answer-box {
    border: 2px solid #000000;
    padding:20px;
    margin-bottom: 15px;
}

p{
    background-color: aquakln;
}
