/* change styles later*/
body{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

 .profile,  .leaderboard, .settings {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            justify-content: space-evenly;
            background: linear-gradient(90deg, rgba(209, 208, 217, 1) 79%, rgba(150, 150, 171, 1) 100%, rgba(0, 212, 255, 1) 100%);
            max-width: 600px;
            margin:20px auto;
            border-radius: 8px;
        }

     .inner-container{
            padding: 15px;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            border-radius: 8px;
            
        }


        .logout{
            border: none;
        }

        a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            font-size: 1.2rem;
        }

        .title{
            font-size: 1.15rem;
            font-weight: bold;
            color: #837c7c;
        }

        .result, .head, .logout, .profile-picture{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.45rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .head{
            color: #ffffff;
        }

        #logout-button{
           background-color: #ee0a0a;
            border: none;
            padding: 15px 30px;
            border-radius: 8px;
                  
        }

        @media screen and (max-width: 600px) {
            .profile, .leaderboard, .settings {
                flex-direction: column;
                align-items: center;
            }
            .title{
                font-size: 1.05rem;
            }
            .result, .head, .logout, .profile-picture{
                font-size: 1.2rem;
            }

            
        }



        